/C++/Introduction/Say 'Hello, World!' With C++/build/
/C++/Introduction/Say 'Hello, World!' With C++/dist/
/JAVA/Introduction/Welcome to Java!/nbproject/private/
/JAVA/Introduction/Welcome to Java!/build/